<!doctype html>
<html>
<head>
<title>TODO LIST</title>
<script src="node_modules/angular/angular.js"></script>
<script src="scripts/app.js"></script>
</head>
<body ng-app="todolist">
<div> 
    <div ng-controller="exempleCtrl">
       HELLO {{name}}!
    </div>
	<div ng-controller="todoListCtrl as ctrl"> 
		<input ng-model="ctrl.todo.name" ng-keydown="ctrl.addTodo($event)">Saisissez quelque chose et taper entrée pour ajouter à la liste.</input>
		<ul>
            <li ng-repeat="todo in ctrl.todos">
                <div>{{todo.name}} <button ng-click="ctrl.delTodo(todo.id)">-</button></div>
            </li>
        </ul> 
	</div>


</div>

</body>
</html>